@import "adw.css";

* {
  font-size: 18px;
  font-family: "NotoSans Nerd Font";
  transition: 200ms;
}

.notification,
.control-center {
    border: 2px solid @accent;
    background-color: @background;
}

.control-center .notification-group {
    background-color: transparent;
}

.control-center .notification-group .notification {
    background-color: @selection_background;
}

.control-center .widget-title > label {
  font-size: 1.3em;
}

/* WIDGETS */
.widget-dnd > switch:checked {
  background: @accent;
}
