@import "adw.css";

* {
  font-family: "NotoSans Nerd Font";
  font-size: 18px;
}

window#waybar {
  background: @background-transparent;
}

tooltip {
  background: @background-transparent;
  color: @foreground;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* you can set a style on hover for any module like this */
#workspaces button:hover,
#custom-notification:hover,
#clock:hover,
#language:hover,
#battery:hover,
#network:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover {
  background-color: @selection_background;
}

#workspaces button,
#window,
#custom-notification,
#custom-separator,
#clock,
#language,
#battery,
#network,
#power-profiles-daemon,
#pulseaudio {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button.active {
  box-shadow: inset 0 -3px @accent;
}

#workspaces button.urgent {
  background-color: @red;
}

@keyframes blink {
  to {
    color: @black;
  }
}

/* Make icons slightly larger. Icons are using NF-MD fonts. Same size as tray icons. */
#custom-notification,
#battery,
#power-profiles-daemon,
#network,
#pulseaudio {
  font-size: 22px;
}

#custom-sep {
  color:@accent;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
